services:
  app:
    build: .
    container_name: hohol-lol-app
    restart: unless-stopped
    expose:
      - "8080"
    environment:
      - PORT=8080

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    depends_on:
      - app
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: /bin/sh
    command: "-c 'sleep infinity'"
